---
layout: default
---

<div class="flex flex-col min-h-screen text-gray-700">

  <div class="px-5 py-5 text-white bg-gray-700">
    <div class="flex justify-center tracking-wide">
      <div class="text-xl font-bold">
        Add options to
        <span class="font-mono px-2 py-0.5 text-gray-900 bg-white rounded-md text-lg">
          rails new</span>
        🛤️
      </div>
      <div>
        (dev)
      </div>
    </div>
  </div>

  <div class="flex-grow max-w-3xl px-6 mt-6 mb-10 divide-y md:mx-auto">

    <div>
      <div class="leading-relaxed">
        Many options can be appended to the
        {% include code.html code="rails new" %}
        command.
        View them by running
        {% include code.html code="rails new --help" %}
        from the command line.
      </div>

      <div class="my-5">
        In keeping with both Ruby and Rails’ central aim of
        <a href="http://rubyonrails.org/doctrine/#optimize-for-programmer-happiness"
           class="text-blue-700 hover:underline">
          optimizing for developer happiness</a>,
        add as many options as you’d like and copy the
        resulting command below.
      </div>

      <div class="my-5 italic">
        Note: options as of Rails version 7.0.0 used.
      </div>

      <div class="flex items-start my-5">
        <div>
          🚧
        </div>
        <div class="ml-2 font-semibold">
          Some common options appear below, but not all options are listed here.
        </div>
      </div>

      {% include options.html %}
    </div>


    <div class="pt-5">
      Do you often use an option not listed here?
      Feel free to
      <a href="mailto:stef@stefcoetzee.com" class="text-blue-700 hover:underline">
        let me know</a>.
    </div>

  </div>

  <div class="py-10 text-sm text-white bg-gray-700 md:text-base">
    <div class="flex justify-center">
      <span>
        Made by
        <a href="https://stefcoetzee.com" class="font-semibold text-red-400 hover:underline">
          Stef Coetzee
        </a>
      </span>
    </div>
  </div>

</div>
